<div id="<%= dom_id translation %>" class="flex flex-col gap">
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Key:</h4>
    <p class="leading-none"><%= translation.key %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Hebrew:</h4>
    <p class="leading-none"><%= translation.hebrew %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">English:</h4>
    <p class="leading-none"><%= translation.english %></p>
  </div>
</div>
