<table class="table table-hover">
    <tbody>
      <tr>
        <td>בן דוד</td>
        <td>אהרונוביץ</td>
      </tr>
      <tr>
        <td>בן דוד</td>
        <td>אהרונוביץ</td>
      </tr>
    </tbody>
  </table>