
<div class="flex items-center">
      <div class="text-sm text-subtle show@md">Total of 100 record(s).</div>
      <div class="flex items-center mis-auto justify-end" style="column-gap: 1rem">
        <form class="flex items-center gap show@md" data-controller="form" data-action="change-&gt;form#submit" action="/tasks?page=1&amp;limit=10" accept-charset="UTF-8" method="get">
          <label class="text-sm font-medium" for="limit">Rows per page</label>
          <select class="input" style="--input-inline-size: 70px" name="limit" id="limit"><option selected="selected" value="10">10</option>
<option value="20">20</option>
<option value="30">30</option>
<option value="40">40</option>
<option value="50">50</option></select>
</form>        <div class="text-sm font-medium">Page 1 of 10</div>
        <nav class="flex items-center flex-item-no-shrink gap" style="--btn-padding: .5rem;" aria-label="Pagination">
          <a class="btn" aria-disabled="true" href="/tasks?page=1&amp;limit=10">
           <i class="fa-solid fa-angles-left"></i>
            <span class="sr-only">Go to first page</span>
</a>          <a class="btn" aria-disabled="true" href="/tasks?page=1&amp;limit=10">
          <i class="fa-solid fa-angle-left"></i>
            <span class="sr-only">Go to previous page</span>
</a>          <a class="btn" href="/tasks?page=2&amp;limit=10">
            <i class="fa-solid fa-angle-right"></i>
            <span class="sr-only">Go to next page</span>
</a>          <a class="btn" href="/tasks?page=10&amp;limit=10">
          <i class="fa-solid fa-angles-right"></i>
</a>        </nav>
      </div>
    </div>
