<table class="table table-hover">
    <thead>
      <tr>
        <th>שם משפחה</th>
        <th>שם פרטי</th>
        <th>כתובת מייל</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>בן דוד</td>
        <td>אהרונוביץ</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>בן דוד</td>
        <td>אהרונוביץ</td>
        <td>john@example.com</td>
      </tr>
    </tbody>
  </table>