
<table class="table border rounded-lg">
  <thead>
    <tr>
        <th>
            <a class="sort_link  flex items-center" href="/tasks?q%5Bs%5D=title+asc">Name&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m7 15 5 5 5-5"></path><path d="m7 9 5-5 5 5"></path></svg></a></th>
      <th>ID</th>
      
      <th>Token</th>
      <th class="text-end">Amount</th>
    </tr>
  </thead>
  <tbody>
    <% for p in @users do %>
    <tr>
      <td class="whitespace-nowrap"><%= p.id %></td>
      <td class="whitespace-nowrap"><%= p.token %></td>
      <td class="text-end">$250.00</td>
      <td class="text-end">
      <div contents data-controller="popover" data-popover-placement-value="bottom-start">
  <button type="button" class="btn" data-popover-target="trigger" popovertarget="popover" aria-haspopup="true">
    <i class="fa-solid fa-ellipsis-vertical"></i>
  </button>
  <div popover id="popover" class="popover" style="--popover-size: 14rem;" data-popover-target="content" role="menu" aria-label="Menu">
    <div class="menu" data-controller="menu" data-action="keydown->menu#navigate">
      <div class="menu__header"><i class="fa-solid fa-ellipsis-vertical"></i></div>
      <hr class="menu__separator" role="separator"/>
      <div class="menu__group" role="group">
        <a class="btn menu__item" data-menu-target="item" role="menuitem" href="">
          <span class="icon icon--calendar" aria-hidden="true"></span>
          <span>Calendar</span>
        </a>  
        <form contents="true" role="menuitem" class="button_to" method="post" action=""><button class="btn menu__item" data-menu-target="item" type="submit">
            <span class="icon icon--smile" aria-hidden="true"></span>
            <span>Seach Emoji</span>
          </button><input type="hidden" name="authenticity_token" value="qigOmx84pCzzRrcTuqicBwUWCv_3Wjrw_1GH23CGMtHyBZ5eYsZFNg3G-lZevOiUtJff5tfbRyJeWVexTZy19A" autocomplete="off" /></form>
  <a class="btn menu__item" role="menuitem" tabindex="-1" aria-disabled="true">
          <span class="icon icon--calculator" aria-hidden="true"></span>
          <span>Calculator</span>
        </a></div>
      <hr class="menu__separator" role="separator"/>
      <div class="menu__group" role="group">
        <a class="btn menu__item" data-menu-target="item" role="menuitem" href="">
          <span class="icon icon--user" aria-hidden="true"></span>
          <span>Profile</span>
          <span class="menu__item-key">⌘P</span>
        </a>  <a class="btn menu__item" data-menu-target="item" role="menuitem" href="">
          <span class="icon icon--credit-card" aria-hidden="true"></span>
          <span>Billing</span>
          <span class="menu__item-key">⌘B</span>
        </a>  <a class="btn menu__item" data-menu-target="item" role="menuitem" href="">
          <span class="icon icon--settings" aria-hidden="true"></span>
          <span>Settings</span>
          <span class="menu__item-key">⌘P</span>
        </a></div>
    </div>
  </div>
</div>
      </td>
    </tr>
    <% end %>
    
  </tbody>
  <tfoot>
      <tr>
        <td colspan="3">Total</td>
        <td class="text-end">$2,500.00</td>
      </tr>
  </tfoot>
</table>
